.App {
  /* background: linear-gradient(
    75deg,
    #feddee 0%,
    #fcf6fc 31.77%,
    #c5eaed 64.58%,
    #fdddfe 100%
  );
  filter: blur(250px); */
  background: #FFF;
box-shadow: 0px 5.71429px 11.42857px 0px rgba(0, 0, 0, 0.05) inset;
}
